.button-blue {
    position: relative;
    overflow: hidden;
  }

  .button-blue:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Initially position outside the button */
    width: 100%;
    height: 100%;
    background-color: #3182ce;
    transition: left 0.5s ease-in-out; /* Transition left property */
    z-index: -1; /* Ensure the pseudo-element is behind the button content */
  }

  .button-blue:hover:before {
    left: 0; /* Move in from left on hover */
    transition: left 0.5s ease-in-out; /* Transition left property */
  }

  /* Set text color to white on hover */
  .button-blue:hover {
    color: white;
  }

  .underline-from-left::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #3182ce; /* Adjust color as needed */
    transition: width 0.3s ease;
  }

  .underline-from-left:hover::after {
    width: 100%;
  }