@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "axiforma-regular";
  src: url("/font/Kastelov\ \ Axiforma\ Regular.otf");
}
@font-face {
  font-family: "axiforma-medium";
  src: url("/public/font/Kastelov\ \ Axiforma\ Medium.otf");
}
@font-face {
  font-family: "axiforma-semibold";
  src: url("/public/font/Kastelov\ \ Axiforma\ SemiBold.otf");
}
@font-face {
  font-family: "axiforma-bold";
  src: url("/public/font/Kastelov\ \ Axiforma\ Bold.otf");
}
@font-face {
  font-family: "axiforma-extrabold";
  src: url("/public/font/Kastelov\ \ Axiforma\ ExtraBold.otf");
}
.font-oswald {
  font-family: "Oswald", sans-serif;
}
.text-axi-400 {
  font-family: axiforma-regular;
}
.text-axi-500 {
  font-family: axiforma-medium;
}
.text-axi-600 {
  font-family: axiforma-semibold;
}
.text-axi-700 {
  font-family: axiforma-bold;
}
.text-axi-900 {
  font-family: axiforma-extrabold;
}
.brand-section {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#00263a, #00263a);
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: #00263a;
}

::-webkit-scrollbar-thumb {
  /* background-color: #307fe2;
  border-radius: 1rem;
  background-clip: content-box; */
  background: #307fe2;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-card {
  background: rgba(30, 178, 221, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#ffffff, #e9e9e9);
}

.swiper-slide {
  pointer-events: none;
}

.bg-custom {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(#ffffff, #e9e9e9);
}

/* publication */
.publication {
  overflow: hidden;
  transition: 0.7s;
}
.publication-thumbnail {
  transition: 0.7s;

  opacity: 0.8;
}
.publications-container {
  transition: 0.7s;
  overflow: hidden;
  border: 1px solid #d5c7fa;
}

.publication:hover .publication-thumbnail {
  transform: scale(1.15);
  opacity: 1;
}
.publication:hover .publications-container {
  background-color: #f3effd;
  box-shadow: rgba(126, 126, 156, 0.25) 0px 50px 100px -20px,
    rgba(107, 110, 110, 0.3) 0px 30px 60px -30px,
    rgba(83, 86, 88, 0.35) 0px -2px 2px 0px inset;
}

/* .publications-container {

} */
