@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "axiforma-regular";
  src: url("/font/Kastelov\ \ Axiforma\ Regular.otf");
}
@font-face {
  font-family: "axiforma-medium";
  src: url("/public/font/Kastelov\ \ Axiforma\ Medium.otf");
}
@font-face {
  font-family: "axiforma-semibold";
  src: url("/public/font/Kastelov\ \ Axiforma\ SemiBold.otf");
}
@font-face {
  font-family: "axiforma-bold";
  src: url("/public/font/Kastelov\ \ Axiforma\ Bold.otf");
}
@font-face {
  font-family: "axiforma-extrabold";
  src: url("/public/font/Kastelov\ \ Axiforma\ ExtraBold.otf");
}
 .text-axi-400{
  font-family: axiforma-regular;
 }
 .text-axi-500{
  font-family: axiforma-medium;
 }
 .text-axi-600{
  font-family: axiforma-semibold;
 }
 .text-axi-700{
  font-family: axiforma-bold;
 }
 .text-axi-900{
  font-family: axiforma-extrabold;
 }